header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 5%;
  background-color: #2c3e50;
  color: white;
}
.nav-list {
  display: flex;
  gap: 20px;
  list-style: none;
}

.logo {
  width: 100px;
  height: 100px;
  background-color: #ecf0f1;
  border-radius: 50%;
  background-image: url('../img/logo.jpeg');
  background-size: cover;
  background-position: center
}


/*Servicios*/
.services-container {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin-top: 10px;
}
.card {
  flex: 1 1 calc(25% - 15px); /* Base del 25% para escritorio */
  min-width: 250px; /* Salta a la siguiente línea si no hay espacio */
  background: #f4f4f4;
  padding: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1); /* sombra suave */
  box-sizing: border-box;      /* evita que el padding desborde el ancho */
}

