  :root {
      font-size: 16px;
  }

  body {
      font-family: 'Segoe UI', sans-serif;
      padding: 2rem;
  }

  h1 {
      font-size: 2.5rem;
      text-align: center;
  }

  p {
      font-size: 1.1rem;
      line-height: 1.5;
  }

  
  /*Menu*/
  navbar {
      display: grid;
      grid-template-columns: 1fr;
      /* Una sola columna */
      gap: 10px;
      /* Espacio entre elementos */
      background-color: #333;
      padding: 10px;
      color: white;
  }

  #btn-menu {
      justify-self: start;
      /* Alinea el botón a la izquierda */
  }

  #enlaces {
      display: grid;
      grid-template-columns: repeat(3, auto);
      /* Enlaces en vertical */
      gap: 10px;
  }

  #enlaces[hidden] {
      display: none;
  }

  #btn-menu {
      display: none;
  }



  #enlaces:not([hidden]) {
      display: grid;
  }

/*-----------------------------*/


  /*Galeria*/
  .gallery {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      gap: 15px;
  }

  .gallery img {
      width: 100%;
      border-radius: 8px;
  }